<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/cliente.css" />
  <link rel="icon" type="image/png" href="/img/cofilogo.ico">
  
  <title>Cliente</title>
  <script src="https://unpkg.com/lucide@latest"></script>
</head>
<body>
  <!-- NAVBAR -->
  <nav class="navbar navbar-dark">
    <div class="containerNavBar">
        <a href="#" class="navbar-brand">
            <img src="img/logo.png" alt="Coficab Logo" width="120">
        </a>
        <div>
          <a href="add_new">Create New Test Request</a>
          <a href="cliente">Test Request</a>
          <span>Hello, <%= nombre %></span>
            <a href="/logout">Cerrar sesión</a>
        </div>
    </div>
  </nav>

  <!-- Contenedor -->
  <div class="container">
    <!-- buscador -->
    <section class="search-bar">
      <h2>Laboratory Managements - Test Requests Created</h2>
      <form method="GET" action="/cliente" class="search-group">
        <input type="text" name="search" placeholder="Enter Test Request ID" />
        <button type="submit">Search</button>
      </form>
      
    </section>

    <!-- Tabla -->
    <section class="table-section">
      <table>
        <thead>
          <tr>
            <th>Test Request Name</th>
            <th>Goal of request</th>
            <th>Start</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% if (solicitudes && solicitudes.length > 0) { %>
            <% solicitudes.forEach(function(solicitud) { %>
              <tr>
                <td>TR-2025-<%= solicitud.ID %></td>
                <td><%= solicitud.meta %></td>
                <td><%= solicitud.fecha_creacion.toLocaleString() %></td>
                <td class="status <%= solicitud.estatus.toLowerCase() %>">
                  <%= solicitud.estatus.toUpperCase() %>
                </td>
                <td>
                  <a href="/edit/<%= solicitud.ID %>">
                    <button class="edit-btn">Edit</button>
                  </a>
        
                  <form action="/delete/<%= solicitud.ID %>" method="POST"
                    onsubmit="return confirm('Are you sure you want to delete this test request?');"
                    style="display:inline;">
                    <button class="delete-btn">Delete</button>
                  </form>
        
                  <% if (solicitud.estatus.toLowerCase() === "completado") { %>
                    <a href="/cliente/reporte/<%= solicitud.ID %>">
                      <button style="background-color: rgba(255, 255, 255, 0); border: 0px;" class="download-btn"><i data-lucide="download"></i></button>
                    </a>
                  <% } else {%> 
                    <a >
                      <button style="background-color: rgba(255, 255, 255, 0); border: 0px; cursor: not-allowed; opacity: 0.5;" class="download-btn"><i data-lucide="download"></i></button>
                    </a>
                    <% } %>
                </td>
              </tr>
            <% }) %>
          <% } else { %>
            <tr>
              <td colspan="5">No test requests found.</td>
            </tr>
          <% } %>
        </tbody>
        
      </table>
    </section>
  </div>
  <script>
    lucide.createIcons();
  </script>
</body>
</html>
